caption
{
  font-family:arial;
  font-size:15px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  padding:10px;
}

th{
    background-color: rgb(31, 150, 255);
    color: white;
    border: 1px solid white;
}

tbody th{
    color: yellow;
}

td{
    background-color: rgb(255, 165, 87);
    border: 1px solid black;
}

td,th{
    width: 100px;
    height: 30px;
    text-align: center;
}

table{
    border-collapse: collapse;
}